<footer class="footer">
  <small>
    Yuri Chernigin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="http://civnote.ru/projects/sisan/news">News</a></li>
    </ul>
  </nav>
</footer>